@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  color: white;
}

body {
  background-color: black;
}

// custom grid column
.app-layout {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
}

// react date picker
.react-datepicker,
.react-datepicker__header {
  background: #020b1c !important;
  border-color: #020b1c !important;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: rgba(255, 255, 255, 0.7) !important;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  background-color: #2094ff !important;
}

.react-datepicker__day--selected {
  background-color: #2094ff !important;
}

.react-datepicker__current-month {
  color: rgba(255, 255, 255, 0.85) !important;
}

.react-datepicker-wrapper {
  width: 100px !important;
}

.screenshots img {
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 5px;
}

.screenshots img:hover {
  transform: scale(0.95);
  transition: all 0.3s;
}

.rdrCalendarWrapper {
  background: black !important;
}

.rdrDefinedRangesWrapper {
  display: none !important;
}

.rdrDateDisplayWrapper {
  background-color: black !important;
}

.rdrDateDisplayWrapper {
  background-color: black !important;
}

.rdrInputRangeInput {
  background: #3d91ff !important;
  color: white !important;
  border: none !important;
}

.rdrDateDisplayItem {
  border: 1px solid #3d91ff !important;
}

.rdrDateInput input {
  border-radius: 3px;
}

.rdrDateDisplayItem input {
  background: black !important;
  color: white !important;
}

.rdrInputRanges {
  background-color: black !important;
}

.rdrNextPrevButton {
  background: #3d91ff !important;
  border: none !important;
}

.rdrNextPrevButton i {
  color: white !important;
}

.rdrMonthAndYearPickers select {
  color: white !important;
  font-weight: 400 !important;
}

.rdrDayNumber span {
  color: white !important;
}

// hide scroolbar but keep functionality
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

// media query
@media only screen and (max-width: 1024px) {
  .app-layout {
    grid-template-columns: 0.35fr 1fr !important;
  }
}

@media only screen and (max-width: 767px) {
  .app-layout {
    grid-template-columns: 1fr !important;
  }
}
